header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
        background-color: #FFFFFF;
        background-image: url(../ptrbackground.jpg);
        color: #666666;
}
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}


nav
{
padding-left: 30px;
padding-top: 20px;
padding-bottom:5px;
padding-right:5px;
font-weight: bold;
width: 160px;


}
 
nav ul 
{
        list-style-type:none;
        padding-left: 0px;
        padding: 10px;
        margin:0;
	font-size: 1.2em;
        font-weight: bold;
        list-style-type: none;
        float: left;
          
      
}


nav a

{
margin: 20px;
text-decoration: none;
color:#000033;
}




nav a:hover 

{
	color: #FFFFFF;
}


h1 {    background-image: url(sunset.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-color: #000033;
	margin-bottom: 0;
        color: white;
	padding: 10px;
	float:center;
}
h2 {   
	color: #3399CC; 
	float: center;
           
}

h1,h2 

{
	font-family: Georgia, "Times New Roman", serif;
       
}

#resort
{
 font-weight:bold;
 text-align:right;
}



#contact
{
        
	font-size: 90%;
}


dt 
{
	color: #000033;
}


footer 
{
        padding: 20px;
        background-color: #ffffff;
	font-family: Georgia, "Times New Roman", serif;
        font-style: italic;
        float: center;
        margin-left:190px;        	
}




#wrapper
{
margin-top: 0px;
margin-left: auto;
margin-right:auto;
width:80%;
min-width: 600px;
background-color:#9bcce5;
}


#content
{
padding-left: 30px;
padding-top:1px;
padding-bottom:20px;
padding-right:20px;
margin-left: 190px;
background-color: white;
list-style-image: url(marker.gif);
}

#content img
{
float: left;
padding-right: 20px;
}

#content ul
{
list-style-position: inside;

}

.resort
{
color: #5c7fa3;
font-weight:bold;
}
